.button {
  position: relative;
  display: block;
  width: 238px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 160%;
  color: #835731;
  text-align: center;
  text-decoration: none;
  border: 1px solid #b48258;
  box-sizing: border-box;
  background-color: transparent;

  &--how-buy {
    margin-top: 40px;

    @media (min-width: $large) {
      margin-left: 0;
    }
  }

  &--single-product {
    width: 220px;

    @media (min-width: $medium) {
      margin-left: 25px;
    }
  }

  &--single-page {
    @media (min-width: $medium) {
      margin-left: 0;
    }

    @media (min-width: $extra) {
      width: 220px;
      margin-top: 33px;
    }
  }

  &--main-slider {
    display: none;

    &::before,
    &::after {
      background-color: #151829;
    }

    @media (min-width: $medium) {
      display: block;
      width: 218px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #ffffff;
      border-color: rgba(255, 255, 255, 0.17);
    }
  }

  &--promo {
    display: none;

    @media (min-width: $extra) {
      display: block;
      margin-top: 39px;
      margin-left: 0;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #f3f1ec;
  }

  &::before {
    bottom: -1px;
    left: 30px;
  }

  &::after {
    top: -1px;
    right: 30px;
  }
}
