.socials {
  @include Unordered-List-Reset();
  display: flex;
  justify-content: center;
  align-items: center;

  .page-header & {
    @media (min-width: $extra) {
      margin-top: 6px;
    }
  }
}

.socials__item {
  margin-right: 5px;
  margin-left: 5px;

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #444444;
    border-radius: 50%;
    box-sizing: border-box;
  }

  & svg {
    fill: #ffffff;
  }
}
