/* Gotham Pro Regular */
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro-regular.woff2") format("woff2"), url("../fonts/gothampro-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Gotham Pro Medium */
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro-medium.woff2") format("woff2"), url("../fonts/gothampro-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
/* Gotham Pro Bold */
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro-bold.woff2") format("woff2"), url("../fonts/gothampro-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* Muller Light */
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller-light.woff2") format("woff2"), url("../fonts/muller-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
/* Muller Regular */
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller-regular.woff2") format("woff2"), url("../fonts/muller-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Muller Medium */
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller-medium.woff2") format("woff2"), url("../fonts/muller-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
/* Muller Bold */
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller-bold.woff2") format("woff2"), url("../fonts/muller-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
