body {
  min-width: $start;

  @include Muller-Regular();
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
